.row {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
}
.row_0 > [class^="col"] {
    padding-left: 0;
    padding-right: 0;
}
.col {
    flex-basis: 100%;

    padding-left: 15px;
    padding-right: 15px;
}
.col-3 {
    flex-basis: 33.33%;
    max-width: 33.33%;
}
.col-4 {
    flex-basis: 25%;
}